.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, size: "64x64", class: "media-object"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by#{ @prototype.user.nickname }", user_path(@prototype.user)
            %span.degree= @prototype.user.profile

    .col-md-6.text-right
      #js-like-buttons
        = render "likes/like"
  .row
    .col-md-9
      = image_tag("#{ @prototype.prototype_images.main.first.image }", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |sub_image|
          %li.list-group-item
            = image_tag(sub_image.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @prototype.tags.each do |tag|
          %li
            = link_to tag.name, tag_path(tag), class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span#js-comments-count
        = "(#{ @comments.count })"
    .col-md-8
      #js-comments
        = render partial: "comments/comment", collection: @comments
      - if user_signed_in?
        = form_for [@prototype, @comment], remote: true do |f|
          = f.hidden_field :user_id, value: current_user.id
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, require: true, rows: "3", placeholder: "Your comments", id: "comment_text", class: "form-control"
            .form-group.col-md-2
              = f.submit "COMMENT", class: "button btn btn-primary", data: { disable_with: "Sending now..." }
