.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.prototype_images.main.first.image), prototype_path(prototype.id)
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.nickname}", user_path(prototype.user.id)
        .proto-posted
          = prototype.created_at.strftime('%m/%d')
      %ul.proto-tag-list.list-inline
        %li
          = link_to 'iPad', '#', class: "btn btn-default"
        %li
          = link_to 'wireframe', '#', class: "btn btn-default"
